body {
  background-image: url("assets/background.jpg");
  background-repeat: stretch;
}
.header {
  color: white;
  text-emphasis: strong;
}
.hp {
  color: green;
  font-weight: 888;
}
#ship-select {
  border: 2px solid gold;
  height: 200px;
  margin: auto;
  color: white;
  text-emphasis: strong;
}
#win-lose {
  border: 2px solid gold;
  height: 200px;
  margin: auto;
  color: white;
  text-emphasis: strong;
}

.ship {
  height: 70%;
  width: 160px;
}

button {
  height: 90%;
  width: 220px;
  background-color: darkslateblue;
  color: silver;
  margin: 5px;
}

#enemies {
  width: 80%;
  border: 2px solid gold;
  height: 200px;
  margin: auto;
  color: white;
  text-emphasis: strong;
}

#battlezone {
  width: 80%;
  border: 2px solid gold;
  height: 400px;
  margin: auto;
  position: relative;
  color: white;
  text-emphasis: strong;
}
#defender {
  width: 250px;
  position: absolute;
  top: 0px;
  right: 10px;
  border: 2px solid gold;
  height: 250px;
  color: white;
  text-emphasis: strong;
  background: darkred;
}
#player {
  float: left;
  position: absolute;
  bottom: 0px;
  width: 250px;
  border: 2px solid gold;
  height: 250px;
  color: white;
  text-emphasis: strong;
  background: darkblue;
}

.attackbutton {
  position: absolute;
  bottom: 0px;
  margin: 10px 50% 10px 35%;
  height: 15%;
  width: 20%;
  align-content: center;
}
#fire {
  width: 600px;
  height: 300px;
  margin: 10px 50% 10px 23%;
  border: 2px solid gold;
}
